n8n-workflows/04-rpe-tracking.json
{
  "name": "PolyMathOS - RPE Event Tracking",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rpe/record",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-rpe",
      "name": "RPE Event Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "rpe-record"
    },
    {
      "parameters": {
        "jsCode": "// Calculate RPE value\nconst body = $input.item.json.body;\nconst expectedValue = body.confidence / 100;\nconst actualValue = body.wasCorrect ? 1.0 : 0.0;\nconst rpeValue = actualValue - expectedValue;\n\n// Determine if hyper-correction\nconst isHyperCorrection = body.confidence >= 70 && !body.wasCorrect;\n\n// Calculate dopamine impact\nlet dopamineImpact = 0;\nif (isHyperCorrection) {\n  dopamineImpact = -0.8;\n} else if (rpeValue > 0.2) {\n  dopamineImpact = 0.7;\n} else if (rpeValue > 0) {\n  dopamineImpact = 0.3;\n} else if (rpeValue < -0.2) {\n  dopamineImpact = -0.5;\n} else {\n  dopamineImpact = -0.1;\n}\n\n// Calculate learning value\nconst learningValue = isHyperCorrection ? 1.0 : Math.abs(rpeValue);\n\nreturn {\n  ...body,\n  rpeValue,\n  isHyperCorrection,\n  dopamineImpact,\n  learningValue,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "calculate-rpe",
      "name": "Calculate RPE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "user_id": "={{ $json.userId }}",
              "session_id": "={{ $json.sessionId }}",
              "item_id": "={{ $json.itemId }}",
              "confidence": "={{ $json.confidence }}",
              "was_correct": "={{ $json.wasCorrect }}",
              "rpe_value": "={{ $json.rpeValue }}",
              "is_hyper_correction": "={{ $json.isHyperCorrection }}",
              "dopamine_impact": "={{ $json.dopamineImpact }}",
              "learning_value": "={{ $json.learningValue }}",
              "created_at": "={{ $json.timestamp }}"
            }
          }
        },
        "table": {
          "value": "rpe_events"
        },
        "options": {}
      },
      "id": "save-rpe",
      "name": "Save RPE Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [650, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-credentials",
          "name": "Supabase Database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.isHyperCorrection }}",
              "value2": true,
              "operation": "equals"
            }
          ]
        }
      },
      "id": "check-hyper-correction",
      "name": "Check Hyper-Correction",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_WEBHOOK_URL }}/notifications/hyper-correction",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "itemId",
              "value": "={{ $json.itemId }}"
            },
            {
              "name": "message",
              "value": "Hyper-correction detected! This is a major learning opportunity."
            }
          ]
        },
        "options": {}
      },
      "id": "notify-hyper-correction",
      "name": "Notify Hyper-Correction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"rpe\": { \"value\": $('Calculate RPE').item.json.rpeValue, \"isHyperCorrection\": $('Calculate RPE').item.json.isHyperCorrection, \"dopamineImpact\": $('Calculate RPE').item.json.dopamineImpact, \"learningValue\": $('Calculate RPE').item.json.learningValue } } }}",
        "options": {}
      },
      "id": "respond-rpe",
      "name": "Respond RPE",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "RPE Event Webhook": {
      "main": [[{ "node": "Calculate RPE", "type": "main", "index": 0 }]]
    },
    "Calculate RPE": {
      "main": [[{ "node": "Save RPE Event", "type": "main", "index": 0 }]]
    },
    "Save RPE Event": {
      "main": [[{ "node": "Check Hyper-Correction", "type": "main", "index": 0 }]]
    },
    "Check Hyper-Correction": {
      "main": [
        [{ "node": "Notify Hyper-Correction", "type": "main", "index": 0 }],
        [{ "node": "Respond RPE", "type": "main", "index": 0 }]
      ]
    },
    "Notify Hyper-Correction": {
      "main": [[{ "node": "Respond RPE", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}

